@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #ffe400;
$dark: #272727;
$secondary: #747474;
$success: #14a76c;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

//NAVIGATION

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo-img {
  height: 60px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: $dark;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $dark;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $success;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

//HERO

.hero {
  height: 100vh;
}

//ABOUT

.about {
  position: relative;
}

.about-container {
  padding: 100px 0px;
}

.about-img {
  height: 400px;
  width: auto;
  object-fit: cover;
  border-radius: 3px;
}

//SERVICES

.services-img {
  height: 400px;
  width: auto;
  object-fit: cover;
  border-radius: 3px;
}

//KIDS

.kids {
  height: 80vh;
  background-image: url(../assets/swings-2.jpg);
  background-size: cover;
}

//CONTACT

.contact {
  padding: 100px 0;
}

//////////////////////////////////////  GOLF   ////////////////////////////////////////

//HERO

.golf-hero {
  background-image: url(../assets/matt2-2.jpg);
  background-size: cover;
  height: 30vh;
}

//RANGE
.range {
  padding: 100px 0;
}

//lESSONS
.lessons {
  padding: 100px 0;
}

//TECHNOLOGY

.technology {
  padding: 100px 0;
}
